<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>

    <!-- 静态资源访问路路径映射 -->
    <!-- 多个资源目录用逗号隔开，按顺序搜索，找到直接返回，后面的目录不在搜索 -->
    <!-- fixme 可以查看location属性的注释，了解其用法 -->
    <mvc:resources mapping="/static/**" location="/,classpath:static/,/static/"/>

    <context:component-scan base-package="tk.mybatis.*.controller"/>

    <!-- jsp视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!-- FIXME 注意：prefix一定要以 / 开头, 不然就是相对路径-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>